<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/CSS" href="/coop.css">
</head>
<body>
<!-- NavBar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
      	 <span class="glyphicon glyphicon-home"></span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="https://visiontouch-ca.wspgroup.com/deltektouch/vision/time/">MMM Timesheet<span class="sr-only"></span></a></li>
        <li><a href="https://mymail1.mmm.ca/owa/auth/logon.aspx?replaceCurrent=1&url=https%3a%2f%2fmymail1.mmm.ca%2fowa%2f">MMM Email</a></li>
        <li class="dropdown">
          <a href="P:\TransitCity\XE&C\WM1-1" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Important Files<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="P:\TransitCity\XE&C\WM1-1\WM1-1 Daily Progress Reports">Daily Progress Reports</a></li>
            <li><a href="P:\TransitCity\XE&C\WM1-1\Equipment and Spare Parts">Transmittals & Spare Parts</a></li>
            <li><a href="P:\TransitCity\XE&C\WM1-1\E-Submittal">E-Submittal</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="P:\TransitCity\XE&C\WM1-1\WM1-1 Commissioning">Commissioning</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="P:\TransitCity\XE&C\WM1-1\Other Contracts">Other Contracts</a></li>
          </ul>
        </li>
      </ul>
<!--
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
-->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://fairview.int.ttc.ca/ETMsystems/login.aspx">eTimeMachine</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sharepoint Pages<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://te.int.ttc.ca/transitcity/msf/Construction/WM1-1/Construction%20Management/Forms/Content%20Type.aspx">WM1-1</a></li>
            <li><a href="http://ece.int.ttc.ca/dc/capital/wt60-8/rr/Forms/AllItems.aspx">WT60-8</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>