<% include partials/header %>

<!-- Commissioning Instructions -->
<div class="container commissioning">
    <h1>Commissioning:</h1>
    <ol>
    	<li>Accept the invitation on outlook</li> 
    	<li>Open submittal list from P:\TransitCity\XE&C\WM1-1\E-Submittal and find the spec section (spec number will be in email) for the equipment that’s going to be commissioned</li>
    	<li>Under the spec section, open up the product data and shop drawing of the equipment, read and try to understand how it supposed to work ( if you require any help with navigating the excel spreadsheet ask Seyed Eshtehardian )</li>
    	<li>Open the commissioning procedure from COR (make sure the latest revision is either RAN or REV status) try to read and understand the procedures</li>
    	<li>Print one copy of the procedure</li>
    	<li>Go to P:\TransitCity\XE&C\WM1-1\WM1-1 Commissioning\WM1-1 Commissioning Attendance Sheets for a attendance template</li>
    	<li>Follow similar procedure as the training attendance, the two sheets are the same</li>
    	<li>Go to commissioning with your attendance sheet and procedures, make sure everyone signed on the attendance sheet (If anyone doesn’t show up, note it down on attendance, eg. POMERLEAU not in attendance)</li>
    	<li>Make notes on what you observed on the commissioning procedure during commissioning, ask questions if required (AECOM rep. should be able to answer most questions or ask David, Mike or Bryan)</li> 
    	<li>Sit down with AECOM and contractors and agree on the comments each made for signoffs</li>
    	<li>File the signed off procedure and attendance sheet in a folder and put a label with the spec number and equipment name. Put the folder on the white cabinet behind Farhad</li>
    	<li>Update the commissioning status on P:\TransitCity\XE&C\WM1-1\WM1-1 Commissioning\ WM1-1 Commissioning Status Report CW 2017-03-06. You will most likely need to ask Mike Tonner the details on the commissioning status and if there are any relevant comments. Follow the existing format of the spreadsheet.  Every time  you update the spreadsheet you will change the file name to your initials and the date on which you changed it:</li>
    
    <h3>E.g. WM1-1 Commissioning Status Report MT YYYY-MM-DD</h3>
    <h4>(The MT stands for Mike Tonner)<h4>
    
    <h3>Note: You must update the graph on the top of the spreadsheet manually as well as the two dates above and below it.</h3> 
    	
    <li>Once you have updated it then send the following an email, with the attached and updated document along with a detailed explanation with what was updated:</li>
    <li>Farhad Salehi</li>
    <li>Mike Toner</li>
    <li>Seyed Eshtehardian</li>
    <li>Amy Hsiao</li>
      
    <h4>Seyed Eshtehardian is the person on-site that you can ask for immediate help. Email Eric Faber or Bryan Chung if you have any other questions regarding commissioning.</h4> 
</div>

<% include partials/footer %>