<% include partials/header %>

<!-- Daily Progress Reports -->

<div class="container dailies">
	<h1>Daily Progress Reports</h1>
	<h2>Day-To-Day:</h2>
	<h3>
	Each Morning my first task was to create a new daily progress report for Mike and Dave. 
	It does not matter how you complete this task, as long as there is a report ready for the beginning of each day. 
	To do this:
	</h3>
	<ol>
		<li>
		Update the report number at the top of the page by adding one to the previous reports number. 
        	</li>
        	<li>
        	At the top of the page, also update the date and weather. Do not worry about the text, Mike and Dave will update accordingly.
		</li>
	</ol>
	
	<h2>Weekly:</h2>
	<h3>
	Create two daily progress reports for Saturday and Sunday following the instructions above. 
	In the sections for Mike and Dave’s text ensure it says “not on-site”.
	</h3>

	<h2>Monthly:</h2>
	<ol>
		<li>Print out the whole month of daily progress reports at the end of each month</li> 
		<li>Separate the reports based on inspectors (each inspector has 1 page per day)</li>
		<li>Give each inspector their own pile to sign</li>
// If you can give Dave reports to sign incrementally
// 
		<li>Write “For” next to Anthony Leonetti’s name on the cover pages</li>
		<li>Give the pile of cover pages for Farhad to sign</li>
		<li>Collect all the signed reports and put them back into order by date</li> 
		<li>Scan each day as a separate file to yourself</li>
		<li>Create a new folder in <a href="P:\TransitCity\XE&C\WM1-1\WM1-1 Daily Progress Reports">P:\TransitCity\XE&C\WM1-1\WM1-1 Daily Progress Reports</a> Following the name conventions May 2017 signed</li> 
		<li>Upload them from the signed file on to SharePoint.</li>
		<li>Write the share point number on each report and file them in a folder in the WM1-1 drawer in the black filing cabinet near Sheneeza’s desk.</li>
	</ol>

<% include partials/footer %>