<% include partials/header %>

 <div class="container">
   
    <form action="/staff" method="POST">
      <div class="form-group">
        <label for="exampleInputName1">Name</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="exampleInputCell#1">Cell Number</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Cell Number">
      </div>
      <div class="form-group">
        <label for="exampleInputOffice#1">Office Number</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Office Number">
      </div>
      <div class="form-group">
       <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    
    <% include partials/footer %>
</div>