<% include partials/header %>

<!-- Instructions -->
<div class="container manuals">
	<h1>O&M Manuals</h1>
	<h2>This past co-op term my most regular task was aiding John Tawadros in closing out the O&M Manuals.<br> This involved ensuring:</h2>
	<ol>
     		<li>That all necessary submittals are reviewed and closed on the E-Submittal list</li>
     		<li>They have been printed and placed in its respective O&M manual.</li>
   		<li>They are made available on the FTP site.</li>
	</ol>
<div>
    
<% include partials/footer %>