<% include partials/header %>

<!-- Spare Parts Instructions -->
<div class="container spareparts">
	<h1>Spare Part receiving:</h1>
	<ol>
		<li>When spare parts are delivered by Pomerleau, attain the transmittal and make sure everything on the transmittal is delivered before you sign it (Schedule a meeting with Pomerleau and send an invite, then go over everything on the transmittal before signing it). Make sure the parts are from Pomerleau and not directly from the sub trades, we can only accept items from Pomerleau. If sub-contractors show up then do not accept anything and let them know that they must go through Pomerleau.</li>
		<li>Scan the transmittal and save to P:\TransitCity\XE&C\WM1-1\Equipment and Spare Parts\Transmittals\Transmittals from POM name the file after the Pomerleau transmittal number</li>
		<li>File the Pom transmittals in the spare parts transmittals folder on the student desk</li> 
		<li>Find out the TTC receiving department of the parts by consulting our construction team</li>
		<li>Make a TTC transmittal (obtain a template from P:\TransitCity\XE&C\WM1-1\Transmittals</li> 
		<li>Deliver the parts to TTC operation and have them sign the transmittal</li>
		<li>Scan the transmittal and upload to SharePoint, click transmittals (under correspondence)</li>
		<li>Follow the naming procedure for past transmittals and upload.</li>
		<li>File the TTC transmittals in the TTC transmittals folder beside the student desk</li> 
		<li>Update the spare parts list in P:\TransitCity\XE&C\WM1-1\Equipment and Spare Parts\Spare Parts List \WM1-1 Spare Parts List</li>
	</ol>
	
	<h4>Similar steps for miscellaneous items and parts. Contact Bryan Chung or Alex Tallis for any further questions</h4>
</div>
<% include partials/footer %>