<% include partials/header %>

<table class="table table-bordered table-hover">
    <tr>
        <th>Staff Name</th>
        <th>Cell #</th>
        <th>Office #</th>
        <th>Email</th>
    </tr>
</table>

<form action="/staff/edit" method="GET">
    <button class="btn btn-default">Edit Staff</button>
</form>

<% include partials/footer %>