<% include partials/header %>

<!--Training Instructions-->
<div class="container-fluid training">
    <h1>Training:</h1>
    
    <h2>Accept invitation on outlook from Bushra</h2>
    <ol>
    	<li>Go to P:\TransitCity\XE&C\WM1-1\WM1-1 Training\WM1-1 Training Attendance Sheets to find the attendance template</li>
    	<li>Modify the template according to the invitation</li>
    	<li>Save the modified attendance sheet in P:\TransitCity\XE&C\WM1-1\WM1-1 Training\WM1-1 Training Attendance Sheets\WM1-1 Pre-Training Attendance Sheets</li>
    	<li>Print out the modified attendance sheet</li>
    	<li>Go to the lobby 5 minutes prior scheduled time to get TTC personnel and contractors to sign on the attendance sheet (make sure contractors/manufactures sign on the demonstrator section and TTC personnel sign on the attendee section)</li>
    	<li>Scan the signed attendance sheet and send it to yourself</li>
    	<li>Save it under P:\TransitCity\XE&C\WM1-1\WM1-1 Training\WM1-1 Training Attendance Sheets\WM1-1 Post Training Attendance Sheets with the same naming convention, the last part is the date of training</li>
    	<li>File the signed hard copy in the drawer of “Eric’s training”  [drawer is marked with a sticky note in the black cabinet with the microwave on it (near john)] by the month of the training</li> 
    </ol>
    <h5>Email Bushra Noureen if you have any questions regarding training</h5>
    
<% include partials/footer %>
</div>